/* Extra Small (xs): Up to 575.98px
Large (lg): 992px - 1199.98px
Extra Large (xl): 1200px and larger */
@media only screen and (min-width:992px) and (max-width: 1199.98px) {
  .h1{
    font-size: 1.5rem;
  }
  .h3{
    font-size: 1rem ;
  }
  .para{
    font-size: 0.9rem;
    font-weight: 600;
  }  
  .h2{
    font-size: 1.2rem;
  }
    /* #############################nav############################## */
    .nav-item-container {
        width: 100%;
    }
    /* #############################home############################### */
    #home{
      min-height: 292px;
      max-height: 950px;
    }
    .home-container{
      border: 1px solid red;
        width: 30%;
        height:50%;
    }
    .home-container img{
      width: 300px ;
      height: 310px;
    }
    .arrow-container{
      width: 50px;
      height:50px;
    }
    .bi-arrow-down::before{
      font-size: 1.3rem;
      font-weight: 700 !important;
    }
    /* #################################About###################### */
    #About{
      height: fit-content;
    }
    .about-h1{
        padding-top: 1rem;
    }
    .about-container{
        width: 90%;
        flex-direction: row;
    }
    .about-para{
        margin: 0;
    }
    /* ######################################Team########################*/
    .view-30{
      min-height: 135px;
    }
    /* ######################################Team########################*/
    #Service{
      height: fit-content;
    }
    .service-h1{
        padding-top: 3rem;
    }
    .service-moto{
        width: 70%;
    }
    .service-container{
        margin-top: 3rem;
    }
    /* ##################################Team########################## */
    #Team{
      height: fit-content;
    }
    .team-h1{
        padding-top: 2rem;
    }
    .ceo-container{
        width: 90%;
    }
    /* ####################################Contact################ */
    .contact-h1{
        padding-top: 2rem;
    } 
    .form-container{
      width: 100%;
      border:1px solid red
    }
    .form-style{
      width: 95%;
      border: 1px solid white;
    }
    /* #######################footer################## */
    .footer-item{
        width: 30%;
    }
    .footer-item p{
        margin: 0;
    }
    .footer-item3 a{
      padding: 0;
      width: 33%;
    }
    .footer-3-item{
      width: 100%;
      padding: 0;
    }
}
/* ##################################Bar lines############################ */
@media (max-width: 991px) {
    .home-container{
        width:35%;
    }
.bi-list{
  display: block;
}
.items-container{
	position: absolute;
  height: max-content;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  display: none;

} 
.nav-item-container{
  width: 80%;
  justify-content: space-between;
}
.navbar-nav{
	flex-direction: column;
  opacity: 0;
  animation: all .5s forwards ease-in-out;
}
@keyframes all{
  0%{
    height: 0;
    opacity: 0;
  }    
  100%{
    height: max-content;
    opacity: 1;
  }
}
.navbar-nav{
  align-content: flex-start;
}
.nav-item{
  animation: display .5s forwards ease-in-out;
}
@keyframes dispaly{
  0%{
    opacity: 0;
  }    
  100%{
    opacity: 1;
  }
}
}

/* Small (sm): 576px - 767.98px
Medium (md): 768px - 991.98px */
@media only screen and (min-width:768px) and (max-width: 991.98px) {  
  .office-image{
    width: 96%;
}
  .h1{
    font-size: 1.3rem;
  }
  .h3{
    font-size: .9rem ;
  }
  .para{
    font-size: 0.9rem;
    font-weight: 600;
  }  
  .h2{
    font-size: 1.1rem;
  }
  /* #################################About###################### */
  #home{
    min-height: 584px;
  }
  .home-container img{
    width: 280px ;
    height: 300px;
  }
  /* #################################About###################### */
  #About{
    height: fit-content;
  }
  .about-container{
    width: 100%;
  }
  .about-para{
    margin: 0;
  }
  /* ###########################video################# */
  .video-image{
    max-width: 200px;
    max-height:200px ;
  }
  /* ######################################Team########################*/
  .view-30{
    min-height: 200px;
  }
  /* ######################################Team########################*/
  #Service{
    height: fit-content;
  }
  .service-h1{
    padding-top: .2rem;
  }
  .service-moto{
    width: 70%;
  }
  .service-logo{
    width: 40px;
    height: 40px;
    background-color: blue;
  }
  .common::before{
    font-size: 1.3rem;
    font-weight: 600 !important;
  }
  /* ##################################Team########################## */
  #Team{
    height: fit-content;
  }
  .ceo-container{
      width: 100%;
  }
  .team-p{
    width: 100%;
  }
  .ceo-intro-h2{
    width: 100%;
  }
  .ceo-intro-h1{
    width: 100%;
  }
  /* ####################################Contact################ */
  .contact-h1{
    padding-top: 2rem;
  } 
  .contact-h3{
    width: 50%;
  }
.content-item{
  width: 40%;
}
.emai-container{
  flex-direction: column;
}
.email-div{
  width: 100%;
  margin-bottom: 24px;
}
.name-div{
  width: 100%;
}
.robot{
  left: 38%;
  height: 20%;
}
  /* ############1###########footer################## */
  #Footer{
    margin-top: -15%;
  }
  .footer-item{
    width: 33%;
  }
  .footer-item3 a{
    padding: 0;
    width: 33%;
  }
  .footer-3-item{
    width: 100%;
  }
  .footer-item p{
    margin: 0;
  }
}
@media only screen and (max-width: 767.98px) {
  
  .h1{
    font-size: 1.2rem;
  }
  .h3{
    font-size: .9rem ;
  }
  .para{
    font-size: 0.8rem;
    font-weight: 600;
  }  
  .h2{
    font-size: 1rem;
  }
  /* #################################Nav###################### */
  .navbar-icons{
    display: none;
  }
  .nav-item-container{
    width: 85%;
  }
  /* #################################Home###################### */
  #home{
    min-height: 477px !important;
    height: 70vh;
  }
  .home-container{
      width:50%;
  }
  .home-container img{
    width: 270px ;
    height: 260px;
  }
  /* #################################About###################### */
  #About{
    height: fit-content;
  }
  .about-h1{
    font-size: 1.2rem;
  }
  .about-h3{
    font-size: .9rem ;
  }
  .about-container{
    flex-direction: column;
    width: 100%;
    padding: 0;
    align-items: start;
    height: fit-content;
  }
  .about-content{
    width: 80%;
    height: 50%;
    margin: 0 auto;
  }
  .about-image{
    width: 100%;
    height: 50%;
  }
  .about-para{
    margin: 0;
  }

  /* ######################################Video/Effect########################*/
  .view-30{
    min-height: 150px;
  }
  /* ######################################Team########################*/
  #Service{
    height: fit-content;
  }
  .service-h1{
    padding: 0.2rem;
    padding-left: 0;
    padding-right: 0%;
  }
  .service-h3{
    padding: 0.2rem;
    padding-left: 0;
    padding-right: 0%;
    margin-top: 0.2rem;
  }
  .service-moto{
    width: 70%;
  }
  .service-container{
    flex-direction: column;
    height: fit-content;
  }
  .service-logo{
    width: 40px;
    height: 40px;
    background-color: blue;
  }
  .common::before{
    font-size: 1.3rem;
    font-weight: 600 !important;
  }
  /* ##################################Team########################## */
  #Team{
    height: fit-content;

  }
  .team-h1{
    padding: .2rem;
    padding-left: 0;
    padding-right: 0%;
  }
  .ceo-container{
    width: 100%;
    flex-direction: column;
  }
  .ceo-image{
    width: 100%;
  }
  .ceo-photo{
    max-width:60%;
    max-height: 70%;

  }
  .ceo-intro{
    width: 100%;
  }
  .team-p{
    text-align: center;
    width: 80%;
  }
  .ceo-intro-h2{
    width: 100%;
  }
  .ceo-intro-h1{
    width: 100%;
  }
  /* ####################################Contact################ */
  #Contact{
    height: fit-content;
  }
  .bg-contact-page{
    max-height: fit-content;
    height: 150vh;
  }
  .contact-details1{
    margin-top: .3rem;
  }
  .contact-h1{
    padding-top: .8rem;
  } 
  .contact-h3{
    padding-top: .8rem;
    width: 60%;
  } 
  .content-item{
    width: 100%;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  .social-platform{
    margin: 0;
  }
  .robot{
    display:none 
  }
  .contact-page-div{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .contact-page-first-div{
    width: 100%;
    flex-direction: row;
  }
  .common_style{
    width: 48%;
    height: 100px;
  } 
  .form-container{
    width: 100%;
  }
  .border-l {
    border-left: 0;
  }
  .space-x-4 > :not([hidden]) ~ :not([hidden]) {
    margin-right: 1px;
    margin-left: 1px;
  }
  .email-div{
    width: 100%;
    margin-bottom: 24px;
  }
  .name-div{
    width: 100%;
  }
  /* ############1###########footer################## */
  .footer-container{
    flex-direction: column;
  }
  .footer-item{
    width: 100%;
  }
  .footer-item2{
    padding: .5rem;
    padding-left: 0;
    padding-right: 0%;
  }
  .footer-item p{
    margin: 0;
  }
}
/* ###############################media max-width:566################## */
@media (max-width: 566.9px){
  
  .h1{
    font-size: 1rem;
  }
  .h3{
    font-size: .8rem ;
  }
  .para{
    font-size: 0.7rem;
    font-weight: 700;
  }  
  .h2{
    font-size: .9rem;
  }
  /* #################################Nav###################### */
  .navbar-icons{
    display: none;
  }
  .nav-item-container{
    width: 80%;
  }
  .logo{
    width: 100px;
    height: 80%;
  }
  /* #################################Home###################### */
  #home{
    min-height: 477px;
    height: 60vh;
  }
  .home-container{
    width: 300px;
    max-width: 300px;
    top: 50%;
  }
  .arrow-container{
    top: 90%;
  }
  /* ###########################video################# */
  .view-30{
    min-height: 120px;
    height: 120px;
  }
}
@media (max-width: 309px){
  #nav{
    max-width: 99vw;
    justify-content: space-between;
  }
  .nav-item-container{
    width: fit-content;
  }
  .logo{
    width: 100px;
    height: 80%;
  }
  .custom-dropdown-container{
    display: none;
  }
  #home{
    min-height: 300px;
    height: 50vh;
  }
  .home-container{
    width: 200px;
    max-width: 200px;
    top: 50%;
  }
  .home-container img{
    width: 250px;
    height: 240px;
  }
  .item p{
    width: 100%;
  }
  .contact-h3{
    width: 100%;
  } 
}